<footer class="footer">
    <div class="container">
        <div class="credits">
            <img class="ivylogo" src="/img/New%20Ivy%20Tech%20Logo.png" alt="Ivy Tech Logo">
            <p>Copyright &#xA9; FA24 Blue Team with FA25 Brown Team Contributions</p>
        </div>
        <div class="social-links">
            <a href="https://www.linkedin.com/school/ivy-tech-community-college/" target="_blank"><img src="img/linkedin.svg" alt="LinkedIn"></a>
            <a href="https://www.facebook.com/ivytech" target="_blank"><img src="img/facebook.svg" alt="Facebook"></a>
            <a href="https://x.com/IvyTechCC" target="_blank"><img src="img/twitter-x.svg" alt="Twitter"></a>
            <a href="https://www.instagram.com/ivytech/" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
            <a href="https://www.youtube.com/user/IvyTechCommCollege" target="_blank"><img src="img/youtube.svg" alt="YouTube"></a>
            <a href="mailto:info@ivytech.edu"><img src="img/envelope-fill.svg" alt="Email"></a>
            <a href="tel:888-489-5463"><img src="img/telephone-fill.svg" alt="Phone"></a>
        </div>
    </div>
</footer>